.dischargeContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.dischargeTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dischargeBottomSection {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.dischargeTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 130px;
}

@media only screen and (max-width: 800px) {
    .dischargeTitle {
        font-size: 3rem;
        font-weight: 600;
        margin-top: 0;
    }
}

.dischargeQuestionInput {
    max-width: 800px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dischargeAnswerContainer {
    max-width: 800px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dischargeAnalysisPanel {
    width: 600px;
    margin-left: 20px;
}

.dischargeSettingsSeparator {
    margin-top: 15px;
}

.settingsButton {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.dischargeInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #f2f2f2;
}

.dischargeHistoryDiv {
    height: 100%;
    width: 200px;
    background-color: transparent;
}

.dischargeDocumentFormatSettingDiv {
    background-color: white;
    border: #545454;
    border-width: 1px;
}

.soapPreviewField {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0px;
    width: 70%;
}

.loadingHistorySpinner {
    margin: 30px;
}

.promptName {
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 8px;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration: none;
    cursor: pointer;
}

.selectedPromptName {
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 8px;
    background: #f6d1fa;
    color: #9512b6;
    border: #9512b6 2px solid;
    text-decoration: none;
    cursor: not-allowed;
}

.citation:hover {
    text-decoration: underline;
}

.searchDocumentFormatButton {
    background: #dbdbdb;
    border-radius: 8px;
    padding: 5px, 10px, 5px, 10px;
    margin: 0px, 20px, 0px, 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.searchDocumentFormatButton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.documentFormatSettingIndexSearchTable {
    margin: 0px 10px 10px 10px;
}

.documentFormatSettingIndexSearchTable th {
    text-align: left;
    align-items: center;

}