/* .documentFormatSettingTable {
    border-width: 1px;
    border-color: brown;
    margin: 24px;
}

.documentFormatSettingIndexTd {
    border-width: 1px;
    border-color: brown;
    padding: 12px;
    width: fit-content;
} */

.footer {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background-color: white;
}

.saveDocumentFormatSettingButton {
    background: #dbdbdb;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}

.saveDocumentFormatSettingButton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.saveDocumentFormatSettingButtonText {
    margin: 0;
    width: 200px;
    font-size: 20px;
}

.saveDocumentFormatSettingButtonDisabled {
    background: #858585;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
    cursor: not-allowed;
}

.saveDocumentFormatSettingButtonTextDisabled {
    margin: 0;
    width: 200px;
    font-size: 20px;
    color: #4e4e4e;
}


.subDocumentFormatSettingButton {
    background: #dbdbdb;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

.subDocumentFormatSettingButton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.subDocumentFormatSettingButtonText {
    margin: 0;
    font-size: 14px;
}

.documentFormatSettingAddButton {
    margin: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 0px;
}

.backPanelAddButton {
    background-color: white;
    margin: 0px;
}

.documentFormatSettingAddButton:hover {
    outline: 2px solid rgba(115, 118, 225, 1);
}

.loadingDocumentFormatSpinner {
    margin: 30px;
}

.documentFormatSettingIndexTable {
    margin: 0px 10px 10px 10px;
}

.systemContens {
    margin: 0px 10px 10px 10px;
}